<template>
<div class="main">
  <v-row justify="center" class="sectionone">
    <v-img
      :src="require('../assets/bg.jpg')"
      lazy-src="https://picsum.photos/id/11/100/60"
      width="100%"
      height="700"
    >
    <div class="center">
        <v-row
        align="center"
        justify="center"
        >
        <v-col
            class="text-center"
            cols="12"
        >
        
        <h1 class="display-3 font-weight-thin mb-4 white--text">Hi, Welcome to My DreamWorld</h1>
        <vue-typed-js :strings="['What did you dream last night ?']" :backDelay="3000" :loop="true">
             <h4 class="font-weight-light white--text"><span class="typing"></span></h4>
        </vue-typed-js>
        <v-btn
        @click="showAddDream(true)"
        color="pink"
        dark
        x-large
        class="mt-10"
        >
        Get Started
        </v-btn>
        </v-col>
        </v-row>
    </div>
    </v-img>
    </v-row>
    <div class="table">
    <p class="display-2 font-weight-thin">The Dreams</p>
    <DreamList :dreams="dreams" />
    <v-pagination
    append-icon="mdi-calendar"
    v-model="page"
    class="mt-9"
    prev-icon="mdi-skip-previous"
    next-icon="mdi-skip-next"
    :length="getTotalPage()"
    ></v-pagination>
    </div>
      <Loading v-if="loading"/>
      <div class="addream">
        <AddDream v-if="modal"/>
      </div>
      <Footer/>
</div>
</template>

<script>
import DreamList from '../components/DreamList';
import Footer from '../components/Footer';
import AddDream from '../components/AddDream';
import Loading from '../components/Loading';

export default {
  name: 'App',

  created(){
    this.GetDreams()
  },

     computed: {
          loading() {
            return this.$store.state.Dream.loading;
          },
          dreams() {
            return this.$store.state.Dream.Dreams;
          },
          snackbar() {
            return this.$store.state.Dream.snackbar;
          },
          modal() {
            return this.$store.state.Dream.modal;
          },
          TotalPage() {
            return this.$store.state.Dream.TotalPage;
          },
      },
    methods:{
      GetDreams(){
        let payload={
          page: this.page
        }
          this.$store.dispatch('GetDreams', payload)
      },
      showAddDream(payload){
         this.$store.commit('setModal', payload)
      },
      getTotalPage(){
        let div = this.TotalPage/5
        if(this.TotalPage%5 > 0){
         div = div + 1
        }
        return div
      }

},

  components: {
    DreamList,
    Footer,
    AddDream,
    Loading
  },

  data: () => ({
    page:1,
    value:0,
    Currpage:1,
  }),
    watch: {
    page: function (val) {
      if(this.page != this.Currpage){
         this.Currpage = val
          this.GetDreams()
      }
    }
    }
};
</script>

<style scoped>
.sectionone {
  position: relative;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.table{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addream{
  position: absolute;
  top: 10vh;
  right: 30%;
}
</style>