<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
        color="warning"
        small
        dark
        class="ml-6 mt-2"
          v-bind="attrs"
          v-on="on"
        >
        Add Comment
        <v-icon small>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Add Your Comment</span>
        </v-card-title>
         <v-card-title>
          <span class="subheading font-weight-light">Dream By {{dream.fullname}}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                 v-model="fullname"
                  label="Full Name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                  <v-textarea
                    v-model="comment"
                    autocomplete="email"
                    label="Add Comment*"
                    ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="AddComment()"
          >
            Submit
          </v-btn>
        </v-card-actions>
            <Loading v-if="loading"/>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import Loading from './Loading';
import axios from "axios";
import {Addcomment} from "../APIs";
  export default {
    props:["dream"],
    data: () => ({
      dialog: false,
      fullname:"",
      comment:""

    }),
    components: {
    Loading
  },
  computed: {
          loading() {
            return this.$store.state.Dream.loading;
          },
  },
  methods:{
      AddComment(){  
          this.$store.commit('setLoading', true)
          axios.post(`${Addcomment}`,{
            comment:this.comment,
            fullname:this.fullname,
            dreamId: this.dream._id
        })
        .then(res => {
            console.log(res.data)
            this.dialog = false
            this.GetDreams()
        })
        .catch(err => {
                console.log(err)
               this.dialog = false
        })
        .finally(()=>{
               this.dialog = false
                this.$store.commit('setLoading', false)
        })
  },
  GetDreams(){
        let payload={
          page: this.page
        }
          this.$store.dispatch('GetDreams', payload)
  },
    },
  }
</script>