<template>
  <v-row justify="center">
      <v-card>
        <v-toolbar
          dark
          color="#001247"
        >
          <v-btn
            icon
            dark
            @click="close()"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              dark
              text
            >
             Tell Us About The Dream
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-divider></v-divider>
         <v-form>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            label="Full Name"
            filled
            v-model="fullname"
            shaped
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          sm="6"
        />
         <v-col
          cols="12"
          sm="12"
        >
         <v-textarea
          filled
          auto-grow
          label="Dream Details"
          rows="4"
          row-height="30"
          v-model="dreamDetail"
          shaped
        ></v-textarea>
        </v-col>
      </v-row>
    <div class="text-center">
       <v-btn
       @click="AddDream()"
        class="ma-2"
        dark
        x-large
        color="#001247"
        >
         Submit 
        </v-btn>
    </div>
    </v-container>
  </v-form>
      </v-card>
  </v-row>
</template>
<script>
  export default {
    data () {
      return {
        fullname:'',
        dreamDetail:"",

      }
    },
    methods:{
      close(){
            this.fullname = ''
            this.dreamDetail = ''
        this.$store.commit('setModal', false)
            
      },
      AddDream(){
        let payload ={
          fullname: this.fullname,
          dreamDetail:this.dreamDetail
        }
      this.$store.dispatch('SetDream', payload)
      }
    },
  }
</script>