<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on, attrs }">
           <v-btn
            color="error"
            fab
            x-small
            dark
            v-bind="attrs"
            v-on="on"
            class="ml-2 mt-2"
           >
        <v-icon small>mdi-delete</v-icon>
       </v-btn>
      </template>

      <v-card>
        <v-card-title class="headline grey lighten-2">
          Are you sure you want to delete this ?
        </v-card-title>

        <v-card-text>
          {{item.dreamDetail}}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <p class="font-weight-light ">BY:   {{item.fullname}} </p>
          <v-spacer></v-spacer>
          <v-btn
            color="error"
            text
            @click="deleteItem()"
          >
            delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  export default {
    props:["item"],
    data () {
      return {
        dialog: false,
      }
    },
    methods:{
      deleteItem(){
        let payload ={
          dreamId:this.item._id
        }
      this.$store.dispatch('DeleteDreams', payload)
      }
    }
  }
</script>