<template>
  <v-container class="grey lighten-5">
    <div>
    <v-row
        v-for="n in dreams"
        :key="n._id"
    >
      <v-col
        cols="12"
        sm="5"
      >
        <v-card
          class="pa-2"
          outlined
          min-height="100"
        >
         <p class="pa-3 font-weight-light "> {{n.dreamDetail}} </p>
         <div class="comment">
            <AddComment :dream="n" /> 
           <ViewComment :dream="n"/>
         </div>
        </v-card>
      </v-col>
       <v-col
        cols="12"
        sm="3"
      >
        <v-card
          class="pa-2"
          outlined
           min-height="50"
        >
         <p class="font-weight-light ">   {{n.fullname}} </p>
        </v-card>
      </v-col>
       <v-col
        cols="12"
        sm="3"
      >
        <v-card
          class="pa-2"
          outlined
          min-height="10"
        >
        <b class="font-weight-light"> {{DisplayTime(n.createdAt)}} </b>
        </v-card>
      </v-col>
        <v-col
        cols="12"
        sm="1"
        class="justify-center"
      >
      <DeleteDream :item="n" />
      </v-col>
    </v-row>
    </div>
  </v-container>
</template>
<script>
import dayjs from "dayjs";
import DeleteDream from '../components/DeleteDream';
import ViewComment from '../components/ViewComment';
import AddComment from '../components/AddComment';



  export default {
      props:["dreams"],

    components: {
    DeleteDream,
    ViewComment,
    AddComment
  },

    data () {
      return {
        dialog:false,
        page: 1,
        pageCount: 1,
        itemsPerPage: 5,
        detail:{}
      }
    },
    methods: {
        showdialog(payload){
        this.dialog= true
        this.detail= payload
      },
        DisplayTime(){
              
          return dayjs().format('MMM D, YYYY')
            
        },
    },
  }
</script>
<style scoped>
.comment{
  display: flex;
}

</style>