<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
        color="info"
        small
        dark
        class="ml-6 mt-2"
        v-bind="attrs"
        v-on="on"
        >
          {{dream.comment.length}} Comment
       <v-icon small>mdi-eye</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-toolbar
          dark
          color="info"
        >
          <v-btn
            icon
            dark
            @click="dialog = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Comment</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              dark
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
    
  <v-card
   v-if="items.length > 0"
    width="90%"
    class="mx-auto"
  >


    <v-list three-line>
      <template v-for="(item, index) in items">
        <v-list-item :key="index">
          <v-list-item-avatar>
            <v-img src="https://cdn.vuetifyjs.com/images/lists/1.jpg"></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{item.fullname}} </v-list-item-title>
            <v-list-item-subtitle>{{item.comment}}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-card>
  <div v-else>
    No comment
  </div>
        <Loading v-if="loading"/>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import axios from "axios";
import {GetComment} from "../APIs";
import Loading from './Loading';

  export default {
     created(){
    this.getComment()
  },
   components: {
    Loading
  },

     props:["dream"],
    data () {
      return {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false,
        items:[]
      }
    },
       methods:{
      getComment(){  
          this.$store.commit('setLoading', true)
        axios.put(`${GetComment}`,{
            dreamId: this.dream._id
        })
        .then(res => {
           this.items = res.data.comments
        })
            .catch(err => {
                console.log(err)
            })
            .finally(()=>{
                this.$store.commit('setLoading', false)
            })
  }
    },
       computed: {
          loading() {
            return this.$store.state.Dream.loading;
          },
       }
  }
</script>