<template>
  <v-app>
    <v-app-bar
      app
      color="#001247"
      dark
    >
      <div class="d-flex align-center">
        <v-btn
        text
        icon
        color="white lighten-2"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <p class="display-1 mt-5">DreamWorld</p>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        text
      >
        <span class="mr-2">Contact Us</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <LandingPage/>
    </v-main>
  </v-app>
</template>

<script>
import LandingPage from './Pages/LandingPage';

export default {
  name: 'App',

  components: {
    LandingPage,
  },

  data: () => ({
    //
  }),
};
</script>
